<div class="alert alert-secondary mt-4">
  <h2><%= @task.title %></h2>
  <p><strong>Details:</strong> <%= @task.details %></p>
  <p><strong>Completed:</strong> <%= @task.completed ? 'Completed' : 'Not completed' %></p>
</div>

<div>
  <%= link_to edit_task_path(@task), class: "btn btn-outline-secondary" do %>
    <%= fa_stacked_icon "pencil", base: "solid", class: "mr-3" %>Edit task
  <% end %>
</div>
<div>
  <%= link_to tasks_path, class: "btn btn-outline-secondary mt-2" do %>
    <%= fa_stacked_icon "rotate-left", base: "solid", class: "mr-3" %>Back to list
  <% end %>
</div>